@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*--------------------------------------------------------------*/
/*-                         Variables                          -*/
/*--------------------------------------------------------------*/
/*======================= colors =================*/
/* white color */
/* basic text color */
/* login page background color */
/*  button color 회색   */
/* input box border color */
/*  main green color  */
/*  main blue color  */
/* placeholder text color */
/* input field shadow color */
/* blockbox shadow color */
/* main gradient color */
/* header background color */
/* left main menu background color */
/* content block backbround color */
/* menu split line color  */
/*  warning color  */
/* 1depth menu backgorund narmal color */
/* 1depth menu backgorund over color */
/* table head(column) background color */
/*  table tr bottom line color  */
/* table tr 2nd 짝수 bg color  */
/*  alim attention icon color  */
/* disabled control background-color */
/*--------------------------------------------------------------*/
/*-                         Functions                          -*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
/*-                        Common Style                        -*/
/*--------------------------------------------------------------*/
/*---------------- Button size --------------*/
.btn_b {
  height: 50px;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn_n {
  height: 35px;
  font-size: 1rem;
  font-weight: 500;
}

.btn_s {
  height: 30px;
  font-size: 0.9rem;
  font-weight: 500;
}

.wauto {
  width: 100%;
}

.w180 {
  width: 180px;
}

.w150 {
  width: 150px;
}

.w100 {
  width: 100px;
}

.w60 {
  width: 60px;
}

.w40 {
  width: 40px;
}

/*---------------- Button blue --------------*/
.btn_blue {
  padding: 0 12px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#2789f2), to(#1ba593));
  background: linear-gradient(to right, #2789f2, #1ba593);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_blue:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn_blue:active {
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_blue:disabled {
  opacity: 0.3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------- Button white --------------*/
.btn_white {
  padding: 0 12px;
  color: #2789f2;
  background-color: #ffffff;
  border: 1px solid #2789f2;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_white:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn_white:active {
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_white:disabled {
  opacity: 0.3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------- Button white dots --------------*/
.btn_white_dot {
  padding: 0 12px;
  color: #2789f2;
  border: 1px solid #2789f2;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #ffffff url("../img/button_dot.png") no-repeat right 50%;
}

.btn_white_dot:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn_white_dot:active {
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_white_dot:disabled {
  opacity: 0.3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------- Button Gray --------------*/
.btn_gray {
  padding: 0 12px;
  color: #ffffff;
  background: #878e95;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_gray:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn_gray:active {
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_gray:disabled {
  opacity: 0.3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------- Button Gray dot --------------*/
.btn_gray_dot {
  padding: 0 12px;
  color: #ffffff;
  background: #878e95;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #878e95 url("../img/button_dot_white.png") no-repeat right 50%;
}

.btn_gray_dot:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn_gray_dot:active {
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_gray_dot:disabled {
  opacity: 0.3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------- Button Gray small --------------*/
.btn_gray_sm {
  padding: 0 8px;
  color: #ffffff;
  background: #878e95;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_gray_sm:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn_gray_sm:active {
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_gray_sm:disabled {
  opacity: 0.3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------- Button Gray small dot --------------*/
.btn_gray_sm_dot {
  padding: 0 8px;
  color: #ffffff;
  background: #878e95;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #878e95 url("../img/button_dot_white.png") no-repeat 35px 50%;
}

.btn_gray_sm_dot:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn_gray_sm_dot:active {
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_gray_sm_dot:disabled {
  opacity: 0.3;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*----------------- Input --------------*/
input[type="text"], input[type="password"], input[type="number"], input[type="date"], input[type="time"] {
  height: 35px;
  border: 1px solid #d1d1d1;
  font-size: 0.9rem;
  font-weight: 100;
  color: #222528;
  padding: 0 10px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="time"]:focus
input[type="text"]:hover, input[type="password"]:hover, input[type="number"]:hover, input[type="date"]:hover, input[type="time"]:hover {
  border: 1px solid #2789f2;
  -webkit-box-shadow: 0 0 5px rgba(39, 137, 242, 0.5);
          box-shadow: 0 0 5px rgba(39, 137, 242, 0.5);
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder {
  color: #8f96a1;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder {
  color: #8f96a1;
}

input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="number"]::-ms-input-placeholder {
  color: #8f96a1;
}

input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="number"]::placeholder {
  color: #8f96a1;
}

input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="date"]:disabled, input[type="time"]:disabled {
  background-color: #e9ecef;
  color: #cccccc;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="text"]:-moz-read-only, input[type="password"]:-moz-read-only, input[type="number"]:-moz-read-only, input[type="date"]:-moz-read-only, input[type="time"]:-moz-read-only {
  background-color: #e9ecef;
  color: #222528;
  box-shadow: none;
}

input[type="text"]:read-only, input[type="password"]:read-only, input[type="number"]:read-only, input[type="date"]:read-only, input[type="time"]:read-only {
  background-color: #e9ecef;
  color: #222528;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*------------- select menu ( no label big size ) ----------*/
.select_big {
  position: relative;
  border: 0;
}

.select_big select {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  z-index: 1;
  border: 1px solid #d1d1d1;
  padding: 0 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 35px;
  color: #222528;
  background-color: #ffffff;
  filter: alpha(opacity=0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select_big select:hover {
  border: 1px solid #2789f2;
  -webkit-box-shadow: 0 0 5px rgba(39, 137, 242, 0.5);
          box-shadow: 0 0 5px rgba(39, 137, 242, 0.5);
}

.select_big::before {
  /* triangle dot */
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #222528;
}

.select_big select:disabled {
  background-color: #e9ecef;
  color: #cccccc;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*------------- check Box (with label) ----------*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  vertical-align: middle;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 16px;
  height: 15px;
  vertical-align: middle;
  cursor: pointer;
  background: url("../img/icon_check_off.png") left top no-repeat;
  background-size: cover;
}

input[type="checkbox"]:checked + label span {
  background: url("../img/icon_check_ov.png") left top no-repeat;
  background-size: cover;
}

input[type="checkbox"]:disabled + label span {
  background: url("../img/icon_check_off.png") left top no-repeat;
  background-size: cover;
}

input[type="checkbox"]:disabled + label {
  color: #8f96a1;
}

html {
  font-size: 14px;
  font-weight: 300;
  color: #222528;
  /* rem unit */
}

html body {
  font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
}
/*# sourceMappingURL=common.css.map */