@charset "utf-8";
@import "common";
/*--------------------------------------------------------------*/
/*-                         Login page                         -*/
/*--------------------------------------------------------------*/
/*==========================  그라디언트 버튼 우측 돗 스타일 함수 ==========================*/
@mixin btn_dot($left) {
    position: absolute; display: inline-block; left: $left; top: 12px;
}
/*==========================  닫기 X 버튼  ==========================*/
@mixin closeBtn($right, $top, $color) {
    position: absolute; right: $right; top: $top; width: 16px; height: 16px; opacity: 0.3; transition: 0.6s;
    &:hover { opacity: 1; }
    &:before, &:after { position: absolute; left: 0; content: ''; height: 16px; width: 2px; background-color: $color; }
    &:before { transform: rotate(45deg); }
    &:after { transform: rotate(-45deg); }    
}    
html { 
    body { 
        background-color: $color_login_body;
        #wrap {
            position: absolute; display: block; width: 800px; height: 500px; background-image: url('../img/loginbox_bg.jpg'); border-radius: 5px;
            left: calc(50% - 400px); top: calc(55% - 250px); padding: 70px 70px 35px 70px; box-shadow: 0 0 15px 0 $color_box_shadow;
            -webkit-transition: top 0.5s, -webkit-transform 1s; transition: all 0.5s;            

            & #login_box {   /* 로그인 영역 */
                width: 400px; height: auto; transition: all 0.3s;    /* 애니메이션 준비  */
                & h1 { font-size: 2.1rem; margin: 0 0 70px 0; font-weight: 500; & span { font-size: 1.2rem; font-weight: 300; color: $color_login_body; } }
                & form { 
                    width: 328px; 
                    & div { margin: 10px 0; }  
                }
            }                      
            & #login_copy { 
                position: absolute; left: 70px; bottom: 35px; height: 15px; line-height: 15px; font-size: 0.8rem; font-weight: 100; 
                & img { vertical-align: top; }
            }
        }
        & #hwsetup_box {    /* 장비 설정 목록 박스 */
            position: absolute; top: calc(55% - 290px); left: calc(50% - 1px); width: 380px; height: auto;    // left: calc(50% - 330px);
            opacity: 0; transition: all 0.3s;    /* 애니메이션 준비  */
            & h1 { font-size: 2rem; margin: 0 0 20px 0; font-weight: 500; & span { font-size: 1.2rem; font-weight: 300; color: $color_login_body; } }
            & #controls {
                & form {
                    & .right {     /* 추가, 내보내기 등 버튼들 */
                        float: right; margin: 0 0 10px 0; position: relative;
                        & #btn_dot { @include btn_dot(57px) }   /*- Button blue dot image -*/
                        & input[type='button'] { margin-left: 5px; }
                    }
                }
            }            
            & #hwlist_table {      /*--------- 장비 목록 테이블 -------------*/
                clear: both; width: 100%; height: 180px; padding: 0; overflow-y: auto; 
                & table {   
                    font-size: 0.9rem; width: 100%; 
                    & tbody {                      
                        & tr { 
                            border-bottom: 1px solid $color_tr_border; background-color: $color_white;
                            & td { 
                                height: 40px; line-height: 40px; padding: 0 10px; text-align: center; 
                                white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 130px;  /*----------- 말줄임 처리 */
                                & img { display: inline-block; vertical-align: middle; margin-bottom: 3px; }
                            }
                        }
                        & tr:last-child { border-bottom: 1px solid $color_basic_text; }
                        & tr:nth-child(2n) { background-color: $color_tr_bg_2n; }
                    }
                    & thead {
                        & th { 
                            height: 40px; width: auto; line-height: 40px; font-weight: 500; padding: 0 10px; background-color: $color_table_header_bg; 
                            white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 130px;   /*----------- 말줄임 처리 */
                            & img { display: inline-block; vertical-align: middle; margin-bottom: 3px; }
                        }                          
                    }
                }
                &::-webkit-scrollbar { width: 0 !important; overflow: -moz-scrollbars-none; -ms-overflow-style: none; }  /*------ 스크롤바 숨기기  --------*/
            }  
            & #gologin { margin-top: 20px; }
        }          

        /*-------------------------- Modal Win : 장비 추가 ------------------------*/
        & #modal_hwaccessinfo_add {       
            position: fixed; left: calc(50% - 240px); top: calc(50% - 450px); width: 480px; border-radius: 5px; box-shadow: 0 0 15px 0 $color_box_shadow; background-color: $color_white; z-index: 100;
            opacity: 0; transform: translateY(100px); transition: all 0.6s;    /* 애니메이션 준비  */
            & h2 {
                position: relative; width: 100%; height: 60px; padding: 0 30px; line-height: 60px; font-size: 1.2rem; font-weight: 500; color: $color_content_wrap;
                background-color: $color_mainmenu_bg; border-radius: 5px 5px 0 0; 
            }
            & ul {
                padding: 10px 30px 20px 30px;
                & li { 
                    height: 45px; line-height: 45px; 
                    & p { display: block; height: 20px; font-size: 0.9rem; }   // 설명 영역 설정 
                    & label { display: inline-block; width: 160px; }
                    & input[type='text'] { width: 260px; }      // input text 가로너비 기본 설정
                    & h3 {     /*-------------- 그룹 타이틀 ----------*/
                        font-size: 1rem; font-weight: 700; 
                    }
                    & input[type='button'] { margin-left: 10px; }       // 버튼들 좌측 마진                
                }
                & li:first-child { margin-bottom: 10px; }    // 설명 영역  
                & li:nth-child(7), li:nth-child(9), li:nth-child(10), li:nth-child(12), li:nth-child(13), li:nth-child(14), li:nth-child(15) {       // lable + textfield + button 행 스타일
                    & input[type='text'] { width: 190px; }
                }     
                & li:last-child { text-align: right; margin-top: 20px; }        // 확인 , 취소 버튼 우측 배치 

                //& li:nth-child(2) > div[class='select_big'] { float: right; width: 260px; }     // CN 선택(select control)
            }
            & a { @include closeBtn(24px, 22px, $color_content_wrap); }   /*--------  X 버튼 (right, top, bgcolor) -----------*/  
        }             
    
        /*==========================  Overlay 설정  =================================== */  
        #overlay { 
            position: fixed; display: none; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.8); cursor: pointer; transition: all 0.6s;
        }        
    }  
} 