@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
* { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
body { 
    font-family: "Noto Sans KR", sans-serif; color: #888; font-size: 12px; font-weight: 100; background-color: #e2e8ee;  
    width: 100%; height: 100%; 
}